<% membership = membership || Membership.new %>
<div class="form-group">
  <%= label_tag "membership[start_date]", "Start Date" %>
  <%= text_field_tag "membership[start_date]", {}, type: :date, class: "form-control", value: (membership.start_date || Time.zone.today) %>
</div>
<div class="form-group">
  <%= label_tag "membership[end_date]", "End Date" %>
  <%= text_field_tag "membership[end_date]", {}, type: :date, class: "form-control", value: (membership.end_date || Time.zone.today + 1.week) %>
</div>
<% if Rails.application.config.study_length_in_weeks %>
  <p>
    Standard number of weeks: <%= Rails.application.config.study_length_in_weeks %>,
    Projected End Date from today: <label id="membership_end_date_calculation"><%= projected_end_date(membership) %></label>
  </p>
<% end %>

<% if Rails.application.config.study_length_in_weeks %>

<% end %>
