<%= form_for(@membership, url: url, html: { role: :form }) do |f| %>
  <% if @membership.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= pluralize(@membership.errors.count, "error") %> prohibited this group from being assigned to this participant:</strong>
      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Participant:</strong>
    <%= @participant.email %>
  </p>
  <div class="form-group">
    <%= label_tag "enrollment[arm_group_join_id]", "Group" %>
    <%= select_tag "enrollment[arm_group_join_id]", grouped_options_for_select(@arm_group_join_options, @first_agj_id), { prompt: "Select Group", class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= label_tag "participant[display_name]", "Display Name" %>
    <%= text_field_tag "participant[display_name]", {}, class: "form-control", value: @participant.display_name %>
    <p class="help-block">Only necessary for enrollments where socializing is a feature of the arm.</p>
  </div>
  <div class="form-group">
    <%= f.label :start_date, "Start Date" %>
    <%= f.text_field :start_date, type: :date, class: "form-control", value: Date.today  %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, "End Date" %>
    <%= f.text_field :end_date, type: :date, class: "form-control", value: Date.today + 1.week %>
  </div>
  <div class="actions">
    <%= f.submit button_text, class: "btn btn-primary" %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-default" %>
  </div>
<% end %>
