<h1>Membership <%= arm_type(ThinkFeelDoDashboard::ArmGroupJoin.where(group_id: @membership.group_id).first.try(:arm)) %></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Edit", edit_participant_group_path(@membership.participant, @membership.group), class: "btn btn-default" %>
  <%= link_to "Destroy", participant_group_path(@membership.participant, @membership.group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
<p>
  <strong>Participant:</strong>
  <%= link_to @membership.participant.email, participant_path(@membership.participant) %>
</p>
<p>
  <strong>Group:</strong>
  <%= link_to @membership.group.title, group_path(@membership.group) %>
</p>
<p>
  <strong>Display Name:</strong>
  <%= @membership.participant.display_name %>
</p>
<p>
  <strong>Membership Status:</strong>
  <%= membership_status @participant, @membership %>
</p>
<p>
  <strong>Start Date:</strong>
  <%= @membership.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @membership.end_date %>
</p>