<h1>Project</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Projects", projects_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_project_path(@project), class: "btn btn-default" %>
  <%= link_to "Destroy", project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    Arms associated with this Project
  </div>
  <% if @project.arms.count == 0 %>
    <div class="panel-body">
      None
    </div>
  <% else %>
    <div class="list-group">
      <% @project.arms.each do |arm| %>
        <%= link_to arm.name, arm_path(arm), class: "list-group-item clearfix" %>
      <% end %>
    </div>
  <% end %>
</div>