<h1>Arm <%= arm_type(@arm) %></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Arms", arms_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_arm_path(@arm), class: "btn btn-default" %>
  <%= link_to "Destroy", arm_path(@arm), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Title:</strong>
  <%= @arm.title %>
</p>

<p>
  <strong>Is social:</strong>
  <%= @arm.social? ? "Yes" : "No" %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Groups</h3>
  </div>
  <% if @arm.groups.count == 0 %>
    <div class="panel-body">
      None
    </div>
  <% else %>
    <%= render "think_feel_do_dashboard/groups/groups", groups: @arm.groups %>
  <% end %>
</div>