<h1>Arm</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Arms", arms_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_arm_path(@arm), class: "btn btn-default" %>
  <%= link_to "Destroy", arm_path(@arm), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Name:</strong>
  <%= @arm.name %>
</p>

<p>
  <strong>Is social:</strong>
  <%= @arm.social? ? "Yes" : "No" %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    Project associated with this Arm
  </div>
  <% if @arm.project_id %>
    <div class="list-group">
      <%= link_to @arm.project_name, project_path(@arm.project), class: "list-group-item clearfix" %>
    </div>
  <% else %>
    <div class="panel-body">
      None
    </div>
  <% end %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Groups associated with this Arm
  </div>
  <% if @arm.groups.count == 0 %>
    <div class="panel-body">
      None
    </div>
  <% else %>
    <div class="list-group">
      <% @arm.groups.each do |group| %>
        <%= link_to group.title, group_path(group), class: "list-group-item clearfix" %>
      <% end %>
    </div>
  <% end %>
</div>