<h1>Arm</h1>

<div class="btn-toolbar" role="toolbar">
  <% if can? :edit, @arm %>
    <div class="btn-group">
      <%= link_to "Edit", edit_arm_path(@arm), class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if can?(:index, BitCore::ContentModule) || can?(:index, ContentModules::LessonModule) || can?(:index, BitCore::Slideshow) %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Manage Content <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% if can? :index, BitCore::ContentModule %>
          <li>
            <%= link_to "Content Modules", (defined?(think_feel_do_engine) ? think_feel_do_engine.arm_bit_maker_content_modules_path(@arm) : root_path) %>
          </li>
        <% end %>
        <li>
          <% if can? :index, ContentModules::LessonModule %>
            <%= link_to "Lesson Modules", (defined?(think_feel_do_engine) ? think_feel_do_engine.arm_lessons_path(@arm) : root_path) %>
          <% end %>
        </li>
        <li>
          <% if can? :index, BitCore::Slideshow %>
            <%= link_to "Slideshows", (defined?(think_feel_do_engine) ? think_feel_do_engine.arm_bit_maker_slideshows_path(@arm) : root_path) %>
          <% end %>
        </li>
      </ul>
    </div>
  <% end %>

  <% if can? :destroy, @arm %>
    <%= link_to "Destroy", arm_path(@arm), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
</div>

<p>
  <strong>Title:</strong>
  <%= @arm.title %>
</p>

<% if social_features? %>
  <p>
    <strong>Is social:</strong>
    <%= @arm.social? ? "Yes" : "No" %>
  </p>
  <p>
    <strong>Wizard of Oz enabled:</strong>
    <%= @arm.woz? ? "Yes" : "No" %>
  </p>
  <p>
    <strong>Allow participants to message coach after completion:</strong>
    <%= @arm.messaging_after_membership_complete? ? "Yes" : "No" %>
  </p>
<% end %>

<% if can? :show, Group %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Groups</h3>
    </div>
    <%= render "think_feel_do_dashboard/groups/groups", groups: @arm.groups %>
  </div>
<% end %>
