<h1>Enrollment</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Enrollments", enrollments_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_enrollment_path(@enrollment), class: "btn btn-default" %>
  <%= link_to "Destroy", @enrollment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>User:</strong>
  <%= @enrollment.coach_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @enrollment.group_id %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @enrollment.display_name %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @enrollment.participant_id %>
</p>
