<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= alert %>
  <%= notice %>
  <a data-method="delete" href="/users/sign_out" rel="nofollow">Sign Out</a>
  <%= link_to "ThinkFeelDo", root_path, class: "navbar-brand" %>

<%= yield %>

</body>
</html>
