<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arm.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @arm.project_id %>
</p>

<%= link_to 'Edit', edit_arm_path(@arm) %> |
<%= link_to 'Back', arms_path %>
