<%= form_for(@user, html: { role: :form }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</strong>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="checkbox">
    <label for="user_is_admin">
      <%= f.check_box :is_admin %>Admin
    </label>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%#= f.label :email %>
    <%#= f.select :coach_id, options_for_select(@coaches, @coach_assignment.coach_id), { prompt: "Select Coach" }, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit button_text, class: "btn btn-primary" %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-default" %>
  </div>
<% end %>
