<h1>User</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Users", users_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" %>
  <%= link_to "Destroy", user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Admin:</strong>
  <%= @user.is_admin ? "Yes" : "No" %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.user_roles.all.map { |role| role.role_class_name.demodulize.titleize }.to_sentence %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Groups</h3>
  </div>
  <% if ThinkFeelDoDashboard::Moderator.where(user_id: @user.id).count == 0 %>
    <div class="panel-body">
      None
    </div>
  <% else %>
    <div class="list-group">
      <% ThinkFeelDoDashboard::Moderator.where(user_id: @user.id).each do |moderator|  %>
        <%= render "think_feel_do_dashboard/groups/group_item_link", group: moderator.group %>
      <% end %>
    </div>
  <% end %>
</div>