<h1>User</h1>

<div class="btn-toolbar" role="toolbar">
  <% if can? :edit, @user %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-default" %>
  <% end %>
  <% if can? :destroy, @user %>
    <%= link_to "Destroy", user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>
</div>

<p>
  <strong>Super User:</strong>
  <%= @user.is_admin ? "Yes" : "No" %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Roles:</strong>
  <%= @user.user_roles.all.map { |role| role.role_class_name.demodulize.titleize }.to_sentence %>
</p>
