<%= form_for(@participant, html: { role: :form }) do |f| %>
  <% if @participant.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</strong>
      <ul>
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_preference, "Contact Preference" %>
    <%= f.select(:contact_preference, "<option value=\"email\">Email</option><option value=\"phone\">Phone</option>".html_safe, {}, class: "form-control") %>
  </div>
  <div class="form-group">
    <%= f.label :study_id, "Study Id" %>
    <%= f.text_field :study_id, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit button_text, class: "btn btn-primary" %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-default" %>
  </div>
<% end %>
