<%= form_for(@participant, html: { role: :form }) do |f| %>
  <% if @participant.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= pluralize(@participant.errors.count, "error") %> prohibited this participant from being saved:</strong>
      <ul>
      <% @participant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :study_id, "Study Id" %>
    <%= f.text_field :study_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, "Phone Number" %>
    <%= f.text_field :phone_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_preference, "Contact Preference" %>
    <%= f.select :contact_preference, options_for_select(@contact_preferences, @participant.contact_preference), { prompt: "Select how to be notified" }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :display_name, "Display Name" %>
    <%= f.text_field :display_name, class: "form-control" %>
    <p class="help-block">This is optional and only applicable when a participant is assigned to a study arm that requires a display name</p>
  </div>

  <%= f.submit button_text, class: "btn btn-primary" %>
  <%= link_to "Cancel", cancel_path, class: "btn btn-default" %>
<% end %>
