<h1>Participant</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Participants", participants_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_participant_path(@participant), class: "btn btn-default" %>
  <%= link_to "Destroy", @participant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @participant.phone_number %>
</p>

<p>
  <strong>Contact Preference:</strong>
  <%= @participant.contact_preference.titleize %>
</p>

<p>
  <strong>Study Id:</strong>
  <%= @participant.study_id %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">Enrollment Information</div>
  <div class="panel-body">
    ...
  </div>
  <ul class="list-group">
    <%= coach_link(@participant) %>
    <%#= link_to "Current Group: #{@participant.active_membership.group.name}", participant_group_path(@participant, @participant.active_membership.group), class: "list-group-item" %>
    <%#= link_to "All Groups<span class='badge'>#{@participant.groups.count}</span>".html_safe, participant_groups_path(@participant), class: "list-group-item" %>
  </ul>
</div>