<h1>Participant</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Participants", participants_path, class: "btn btn-default" %>
  <%= link_to "Enroll", new_participant_enrollment_path(@participant), class: "btn btn-default" %>
  <%= link_to "Edit", edit_participant_path(@participant), class: "btn btn-default" %>
  <%= link_to "Destroy", @participant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Display Name:</strong>
  <%= @participant.display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @participant.phone_number %>
</p>

<p>
  <strong>Contact Preference:</strong>
  <%= @participant.contact_preference.titleize %>
</p>

<p>
  <strong>Study Id:</strong>
  <%= @participant.study_id %>
</p>

<p>
  <strong>Membership Status:</strong>
  <%= membership_status(@participant) %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">Enrollment Information</div>
  <div class="panel-body">
    Below lists the participants enrollment information. This includes all the groups she/he is associated with and the current coach and group they are part of the coach or group exists.
  </div>
  <ul class="list-group">
    <%= current_coach_link(@participant) %>
    <%= current_group_link(@participant) %>
    <%= link_to "All Groups<span class='badge'>#{@participant.groups.count}</span>".html_safe, participant_groups_path(@participant), class: "list-group-item" %>
  </ul>
</div>