<h1>Participant</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Participants", participants_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_participant_path(@participant), class: "btn btn-default" %>
  <%= link_to "Destroy", @participant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @participant.phone_number %>
</p>

<p>
  <strong>Study Id:</strong>
  <%= @participant.study_id %>
</p>