<h1>Participant</h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Participants", participants_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_participant_path(@participant), class: "btn btn-default" %>
  <%= link_to "Destroy", @participant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @participant.phone_number %>
</p>

<p>
  <strong>Contact Preference:</strong>
  <%= @participant.contact_preference %>
</p>

<p>
  <strong>Study Id:</strong>
  <%= @participant.study_id %>
</p>

<p>
  <strong>Current Coach:</strong>
  <%#= @participant.active_coach %>
</p>

<p>
  <strong>Current Group:</strong>
  <%#= @participant.active_membership %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">Enrollments</div>
  <div class="panel-body">
    Listed below are all the coaches and groups associated with the participant.
  </div>
  <ul class="list-group">
    <%= link_to "Coaches<span class='badge'>#{@participant.coaches.count}</span>".html_safe, participant_coaches_path(@participant), class: "list-group-item" %>
    <%= link_to "Groups<span class='badge'>#{@participant.groups.count}</span>".html_safe, participant_groups_path(@participant), class: "list-group-item" %>
  </ul>
</div>