<%= form_for(@coach_assignment, url: url, html: { role: :form }) do |f| %>
  <% if @coach_assignment.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= pluralize(@coach_assignment.errors.count, "error") %> prohibited this coach from being assigned to this participant:</strong>
      <ul>
      <% @coach_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :participant_id %>
    <%= f.text_field :participant_id, class: "form-control" %>
  </div>

  <%= f.select(:coach_id, options_for_select(@coaches, @coach_assignment.coach_id), { prompt: "Select Coach" }, class: "form-control") %>

  <div class="actions">
    <%= f.submit button_text, class: "btn btn-primary" %>
    <%= link_to "Cancel", cancel_path, class: "btn btn-default" %>
  </div>
<% end %>
