<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ThinkFeelDoDashboard</title>
    <%= stylesheet_link_tag    "think_feel_do_dashboard/application", media: "all" %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <%= javascript_include_tag "think_feel_do_dashboard/application" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render "alerts/alert", alert: alert %>
      <%= render "alerts/notice", notice: notice %>
      <%= yield %>
    </div>
  </body>
</html>
