<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <%= stylesheet_link_tag    "think_feel_do_dashboard", media: "all" %>
    <%= javascript_include_tag "think_feel_do_dashboard" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Admin Dashboard", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% @admin_functionalities.each do |functionality| %>
              <li>
                <%= link_to functionality[0], functionality[1] %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" id="main">
      <%= render "/think_feel_do_dashboard/alerts/alert", alert: alert %>
      <%= render "/think_feel_do_dashboard/alerts/notice", notice: notice %>
      <%= yield %>
    </div>
  </body>
</html>
