<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ThinkFeelDoDashboard</title>
    <%= stylesheet_link_tag    "think_feel_do_dashboard/application", media: "all" %>

    <%= javascript_include_tag "think_feel_do_dashboard/application" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render "/think_feel_do_dashboard/alerts/alert", alert: alert %>
      <%= render "/think_feel_do_dashboard/alerts/notice", notice: notice %>
      <%= yield %>
    </div>
  </body>
</html>
