<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <%= stylesheet_link_tag    "think_feel_do_dashboard", media: "all" %>
    <%= javascript_include_tag "think_feel_do_dashboard" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "ThinkFeelDo", think_feel_do_engine.arms_path, class: "navbar-brand" %>
        </div>

        <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Out", think_feel_do_engine.destroy_user_session_path, method: :delete %></li>
          </ul>
          <p class="navbar-text navbar-right">Signed in as <%= current_user.email %></p>
        <% end %>
      </div>

    </nav>
    <div class="container" id="main">
      <%= render "/think_feel_do_dashboard/alerts/alert", alert: alert %>
      <%= render "/think_feel_do_dashboard/alerts/notice", notice: notice %>
      <%= yield %>
    </div>
  </body>
</html>
