<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Dashboard</title>
    <%= stylesheet_link_tag    "think_feel_do_dashboard", media: "all" %>
    <%= javascript_include_tag "think_feel_do_dashboard" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= main_app.arms_path %>">ThinkFeelDo</a>
        </div>
      </div>
    </nav>
    <div class="container" id="main">
      <%= render "/think_feel_do_dashboard/alerts/alert", alert: alert %>
      <%= render "/think_feel_do_dashboard/alerts/notice", notice: notice %>
      <%= yield %>
    </div>
  </body>
</html>
