<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Super User Dashboard</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "ThinkFeelDo", root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a data-method="delete" href="/users/sign_out" rel="nofollow">Sign Out</a>
          </li>
        </ul>
        <p class="navbar-text navbar-right">Signed in as <%= current_user.email %></p>
      </div>

    </nav>
    <div class="container">
      <%= render "/think_feel_do_dashboard/alerts/alert", alert: alert %>
      <%= render "/think_feel_do_dashboard/alerts/notice", notice: notice %>
      <%= yield %>
    </div>
  </body>
</html>
