<%= form_for(@group, html: { role: :form }) do |f| %>
  <% if @group.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</strong>
      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag "group[arm_id]", "Arm" %>
    <%= select_tag "group[arm_id]", options_from_collection_for_select(@arms, :id, :title, @arm.try(:id)), prompt: "Select Arm", class: "form-control" %>
  </div>
  <% if social_features? %>
    <div class="form-group">
      <%= f.label :moderator_id, "Coach/Moderator" %>
      <%= f.collection_select(:moderator_id, @users, :id, :email, { prompt: "Select Coach/Moderator" }, { class: "form-control" }) %>
      <p class="help-block">All notifications are emailed to this user's email</p>
    </div>
  <% end %>
  <%= f.submit button_text, class: "btn btn-primary" %>
  <%= link_to "Cancel", cancel_path, class: "btn btn-default" %>
<% end %>
