<h1>Group <%= arm_type(ThinkFeelDoDashboard::ArmGroupJoin.where(group_id: @group.id).first.try(:arm)) %></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Groups", groups_path, class: "btn btn-default" %>
  <%= link_to "Edit", edit_group_path(@group), class: "btn btn-default" %>
  <%= link_to "Destroy", group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Arm:</strong>
  <%= @arm ? link_to(@arm.name, arm_path(@arm)) : "None" %>
</p>

<p>
  <%= link_to "Remove Arm", arm_group_join_path(@arm.arm_group_joins.first), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" if @arm %>
</p>

<p>
  <strong>Moderator:</strong>
  <%= @moderator ? link_to(@moderator.user_email, user_path(@moderator.user)) : "None" %>
</p>

<p>
  <%= link_to "Remove Moderator", moderator_path(@moderator), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" if @moderator %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Participants</h3>
  </div>
  <% if Membership.where(group_id: @group.id).count == 0 %>
    <div class="panel-body">
      None
    </div>
  <% else %>
    <div class="list-group">
      <% Membership.where(group_id: @group.id).each do |membership| %>
        <%= link_to membership.participant.email, participant_path(membership.participant), class: "list-group-item clearfix" %>
      <% end %>
    </div>
  <% end %>
</div>