<h1>Group <%= arm_type(@group.arm) %></h1>

<div class="btn-toolbar" role="toolbar">
  <%= link_to "Groups", groups_path, class: "btn btn-default" %>

  <%= link_to "Manage Tasks", think_feel_do_engine.arm_manage_tasks_group_path(@group.arm, @group), class: "btn btn-default" %>

  <%= link_to "Edit", edit_group_path(@group), class: "btn btn-default" %>
  <%= link_to "Destroy", group_path(@group), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<p>
  <strong>Title:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Arm:</strong>
  <%= link_to(@group.arm.title, arm_path(@group.arm)) %>
</p>

<p>
  <strong>Moderator:</strong>
  <%= @group.moderator ? link_to(@group.moderator.email, user_path(@group.moderator)) : "None" %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Participants</h3>
  </div>
  <% if Membership.where(group_id: @group.id).count == 0 %>
    <div class="panel-body">
      None
    </div>
  <% else %>
    <div class="list-group">
      <% Membership.where(group_id: @group.id).each do |membership| %>
        <%= link_to membership.participant.study_id, participant_path(membership.participant), class: "list-group-item clearfix" %>
      <% end %>
    </div>
  <% end %>
</div>